<!-- templates/home.html -->
{% extends 'layout.html' %}

{% block title %}主页 - 汽车销售管理系统{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="mt-4">欢迎使用汽车销售管理系统</h1>
    <p class="lead mt-3">在这里你可以管理仓库、厂商、汽车、客户以及订单</p>
    <hr />
    <img 
      src="{{ url_for('static', filename='sysu_logo.png') }}" 
      class="img-fluid rounded shadow"
      alt="中山大学校徽"
      style="max-height: 400px;"
    >
  </div>
</div>
{% endblock content %}
